* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--text-font);
}
img {
  display: block;
  max-width: 100%;
}
/* Vars */
:root {
  --logo-font: "Satisfy", cursive;
  --text-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --some-text-font: "Roboto", sans-serif;
  --white-var: rgb(255, 255, 255);
  --gray-var: rgb(137, 137, 137);
  --black-var: rgb(34, 34, 34);
  --alternative-bg: #f7f7f7;
  --animation-time: 0.6s;
}
/* Grid Config */
.grid {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.25rem;
  align-items: center;
}
/* Reusable */
.call-button {
  border: 3px solid;
  border-image-slice: 1;
  padding: 0.625rem 0.9375rem;
  display: block;
  transition: color var(--animation-time);
}
.call-button:hover {
  color: rgb(137, 137, 137);
}
.divider-in {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.divider-out {
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
section {
  padding: 2rem;
}
h2,
p,
span {
  color: var(--black-var);
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
.drones,
.models,
.contact {
  transform: translateY(-2.5rem);
}
/* Header */
.header {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(64, 64, 64),
    rgb(137, 137, 137)
  );
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
.logo-container {
  grid-column: 2;
}
.logo {
  font-family: var(--logo-font);
  font-size: 3rem;
  user-select: none;
  color: var(--white-var);
}
.header-nav {
  grid-column: 4/12;
  justify-self: flex-end;
}
.header-nav-menu,
.header-nav-menu-links,
.header-nav-menu-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header-nav-menu {
  gap: 2.5rem;
}
.header-nav-menu a,
.header-icon {
  color: var(--white-var);
}
.header-nav-menu a {
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
}
.header-nav-menu-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -3px;
  border-radius: 2px;
  background-color: var(--white-var);
  transition: all var(--animation-time);
}
.header-nav-menu-links a:hover::after {
  width: 100%;
}
.header-icon {
  font-size: 1.4rem;
  gap: 0.5rem;
  width: 150px;
}
.header-icon span {
  font-family: var(--text-font);
  font-size: 1.2rem;
  color: var(--white-var);
  font-weight: 500;
  margin-left: 0.3125rem;
  display: none;
}
.hamburguer-menu {
  width: 22px;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  display: none;
}
.hamburguer-menu .slice {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white-var);
}
/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/intro-bg-img.jpg);
  background-size: cover;
  padding: 10rem;
}
.intro h1 {
  font-family: var(--some-text-font);
  font-size: 3rem;
  color: var(--white-var);
  margin-bottom: 0.5rem;
}
.intro p {
  font-size: 1.5rem;
  color: var(--white-var);
  margin-bottom: 4rem;
}
.intro a {
  color: var(--white-var);
  font-weight: bold;
  text-transform: uppercase;
  border-image-source: linear-gradient(to right, #ffffff, #89898900);
  transition: color var(--animation-time);
}

/* Drones */
.drones {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  visibility: hidden;
  opacity: 0;
  transition: all var(--animation-time);
}
.drones h2 {
  align-self: center;
}
.drones-infocards-container {
  grid-column: 1/-1;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.infocard {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #222222, transparent);
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0 8.188rem 0;
}
.drones-icon {
  font-size: 2rem;
  color: #222222;
}
.infocard span {
  margin-bottom: 1.175rem;
  font-weight: bold;
}
.infocard p {
  width: 245px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
}
.infocard:nth-child(1),
.infocard:nth-child(3) {
  transform: translateY(2rem);
}
.drones a {
  align-self: center;
  border-image-source: linear-gradient(to right, #222222, #898989);
  color: var(--black-var);
  font-weight: bold;
  text-transform: uppercase;
}
.models-container {
  background-color: var(--alternative-bg);
}
.models {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all var(--animation-time);
}
.modelcards-container {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
}
.modelcard {
  display: flex;
  flex: 0 0 220px;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--black-var);
  border-radius: 10px;
  gap: 1rem;
  padding: 0.5rem 3.7rem 3.125rem 3.7rem;
  cursor: pointer;
  transition: all 0.3s;
}
.modelcard:hover {
  transform: scale(1.05, 1.05);
}
.modelcard span {
  font-size: 1.175rem;
  font-weight: 500;
}
.modelcard img {
  -webkit-user-drag: none;
}
.models p {
  width: 570px;
  text-align: center;
}
.models a {
  transform: translateY(-1rem);
  color: var(--black-var);
  font-weight: bold;
  text-transform: uppercase;
  border-image-source: linear-gradient(to right, #222222, #898989);
}

/* Contact */
.contact {
  visibility: hidden;
  opacity: 0;
  transition: all var(--animation-time);
}
.contact h2 {
  grid-column: 1/6;
  margin-bottom: 0.5rem;
}
.contact p {
  grid-column: 1/6;
  margin-bottom: 1rem;
}
.contact-form {
  grid-column: 1/6;
}
.contact-form input {
  font-family: var(--text-font);
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 0.625px;
  border: 1px solid var(--gray-var);
  border-radius: 0 10px 0 10px;
  outline: none;
  transition: border-color var(--animation-time);
}
.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.contact-form textarea {
  font-family: var(--text-font);
  display: block;
  resize: none;
  width: 100%;
  height: 163px;
  outline: none;
  border: 1px solid var(--gray-var);
  border-radius: 0 10px 0 10px;
  padding: 0.625rem;
  transition: border-color var(--animation-time);
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--black-var);
}
.contact-form button {
  background: none;
  color: var(--white-var);
  border-radius: 0 10px 0 10px;
  padding: 0.625rem 1.5625rem;
  cursor: pointer;
  background-color: var(--black-var);
  transition: background-color var(--animation-time);
}
.contact-info {
  grid-column: 8/-1;
  grid-row: 3;
  align-self: start;
}
.contact-info-label {
  display: block;
  font-weight: 500;
  margin-bottom: 1rem;
}
.contact-method {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.contact-method:last-of-type {
  margin-bottom: 2rem;
}
.whatsapp-button {
  display: flex;
  gap: 0.3125rem;
  width: fit-content;
  align-items: center;
  color: var(--white-var);
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--black-var);
  border-radius: 0 10px 0 10px;
  padding: 0.9375rem 1.25rem;
  transition: background-color var(--animation-time);
}
.contact-form button:hover,
.whatsapp-button:hover {
  background-color: rgba(34, 34, 34, 0.88);
}

/* Newsletter */
.newsletter-container {
  background-color: var(--alternative-bg);
  padding: 3rem 0;
}
.newsletter h2 {
  grid-column: 1/6;
  margin-bottom: 0.5rem;
}
.newsletter-form {
  grid-column: 1/6;
  display: flex;
  align-items: center;
}
.newsletter-form input {
  outline: none;
  width: 100%;
  height: 49px;
  border: 1px solid var(--gray-var);
  padding: 0 0.625rem;
  font-family: var(--text-font);
}
.newsletter-form input::placeholder {
  font-family: var(--text-font);
  font-style: italic;
}
.newsletter-form button {
  background: var(--black-var);
  color: var(--white-var);
  font-family: var(--text-font);
  font-weight: 500;
  padding: 0.875rem 1.375rem;
  cursor: pointer;
}
.quote {
  grid-column: 8/-1;
  grid-row: 1/3;
  align-self: center;
}
.quote blockquote {
  font-style: italic;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  background: linear-gradient(
    to left,
    rgb(0, 0, 0),
    rgb(64, 64, 64),
    rgb(137, 137, 137)
  );
  padding: 1.5rem;
}
.footer p {
  text-align: center;
  color: var(--white-var);
  font-size: 1.1rem;
}
.drones.active,
.models.active,
.contact.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
@media (max-width: 800px) {
  .intro {
    padding: 6rem;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .contact.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    row-gap: 1rem;
  }
  .contact h2,
  .contact p,
  .contact form,
  .contact-info {
    grid-column: 1/3;
  }
  .contact-info {
    grid-row: 4;
  }
  .newsletter-container {
    padding: 0;
  }
  .newsletter.grid {
    grid-template-columns: 1fr;
  }
  .newsletter h2,
  .newsletter-form,
  .quote {
    grid-column: 1/2;
  }
  .quote {
    grid-row: 3;
  }
}
@media (max-width: 685px) {
  .infocard:nth-child(1),
  .infocard:nth-child(3) {
    transform: translateY(0);
  }
  .drones-infocards-container {
    gap: 3rem;
  }
  .models p {
    width: fit-content;
  }
  .drones,
  .models,
  .contact {
    transform: translateY(-2rem);
  }
}
@media (max-width: 600px) {
  .logo-container h1 {
    font-size: 2.5rem;
  }
  .header-nav-menu {
    gap: 2rem;
  }
  .header {
    position: relative;
  }
  .header-nav-menu {
    width: 50vw;
    position: absolute;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(64, 64, 64));
    top: 89px;
    left: -51vw;
    opacity: 0;
    z-index: 1000;
    padding: 1.25rem;
    border-radius: 0 0 10px 10px;
    transition: left var(--animation-time), opacity var(--animation-time);
  }
  .header-nav-menu.active {
    left: 0;
    opacity: 1;
  }
  .header-nav-menu,
  .header-nav-menu-links,
  .header-nav-menu-icons {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .header-nav-menu-links a::after {
    display: none;
  }
  .header-nav-menu {
    padding: 0;
  }
  .header-nav-menu > .header-nav-menu-icons {
    order: -1;
  }
  .header-nav-menu-links,
  .header-nav-menu-icons {
    width: 100%;
  }
  .header-nav-menu li {
    display: block;
    width: 100%;
    border-top: 1px solid var(--gray-var);
    padding: 1.25rem;
  }
  .header-icon span {
    display: inline;
  }
  .hamburguer-menu {
    display: flex;
    position: relative;
  }
  .slice {
    transition: all var(--animation-time);
  }
  .hamburguer-menu.active > .slice:nth-of-type(1) {
    position: absolute;
    transform: rotate(135deg);
  }
  .hamburguer-menu.active > .slice:nth-of-type(2) {
    opacity: 0;
  }
  .hamburguer-menu.active > .slice:nth-of-type(3) {
    position: absolute;
    transform: rotate(-135deg);
  }
}
@media (max-width: 510px) {
  .contact.grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1rem;
  }
  .intro {
    padding: 7rem 0;
  }
  .intro p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .contact h2,
  .contact p,
  .contact-form,
  .contact-info {
    grid-column: 1;
  }
  .contact-form {
    margin-bottom: 1rem;
  }
  .contact-info {
    grid-row: 4;
  }
  .newsletter-container {
    padding: 0;
  }
  .newsletter.grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1rem;
  }
  .newsletter h2,
  .quote {
    grid-column: 1;
  }
  .newsletter-form {
    margin-bottom: 1rem;
  }
  .quote {
    grid-row: 3;
  }
}
@media (max-width: 375px) {
  .intro h1 {
    font-size: 1.75rem;
  }
  .header-nav-menu li a,
  .header-icon,
  .header-nav-menu li span {
    font-size: 0.99rem;
  }
}
